<mat-card class="example-card" id="tablePrint">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><img
        src="/assets/img/Family-Fences-Fencing-Contractor-Glenview-IL.webp"
        height="50px"></mat-card-title>
    <mat-card-subtitle>
      <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
      610 Greendale Rd, Glenview, IL 60025, Estados Unidos
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-icon aria-hidden="false" aria-label="Phone" fontIcon="phone"></mat-icon>
      (847) 733-7275
    </mat-card-subtitle>
    <img src="assets/img/CodeQR.png" height="100px">
  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>

  <mat-card-actions>
    The information shown is for informational purposes only, it is not a contract between the client and the
            company, and it is only a calculated measurement, to obtain the true value it is necessary to go to the company.
  </mat-card-actions>
</mat-card>

<mat-card >
  <mat-card-actions>
    <div class="example-button-row">
    <button (click)="home()" mat-raised-button>New budge</button>
    <button (click)="print()" mat-raised-button>Print</button>
    </div>
  </mat-card-actions>
</mat-card>

